.search {
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

img {
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
  }

p{
font-size: 14px;
color: grey;
font-weight: bold;
margin-bottom: 2em;
}


.inline  {
  display: flex;
  margin-left: 13%;
  font-size: 13px;
}

input {
  width: 97%;
  border: none;
}

.input{
  border: 1px solid rgb(82, 63, 63);
  width: 65%;
  float: right;
}
