.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;

    /* align-items: center; */
  }
  
  .Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  }

  .InputElement {
    font-family: "Times New Roman", Times, serif;
    border-radius: 5px;
    margin: 10px 0 10px 13%;
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 4px 10px;
    display: block;
    width: 60%;
    box-sizing: border-box;
  }
  
  .InputElement:focus {
    outline: none;
    background-color: #ccc;
  }
  
  .Invalid {
    border: 1px solid red;
    background-color: #fda49a;
  }
  
  input {
    width: 100%;
    padding: 3px;
    margin: 5px;

  }
  