.outer{
    background-image:linear-gradient(#7bb7f8ee,white);
    border-bottom: 1px solid rgb(172, 170, 170);  
    display: flex; 
}


.logo{
    margin-left:2%;
    margin-top: 0em;
    margin-right: 8%;
}
.input{
    width: 50%;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 10%;
    margin-left: 10px;
    height: 50%;
} 

.outer p{
    float: right;
    margin-top: 3em;
}

.head {
    float: right;
    margin-right: 10%;
    margin-top: 25px;
    margin-left:10px;
}

.searchLabel{
    font-size: 0.9em;
    margin-left: 1em;
    margin-bottom: 0em;
}
.button1 {
    background-color: rgb(148, 145, 145);
    border: none;
    color: white;
    height: 1.5em;
    width: 38.2%;
    font-size: 0.9em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 0.5%;
    cursor: pointer;
    font-weight: bold;

}

.button2 {
    background-color: white;
    border: none;
    height: 2em;
    width: 50%;
    font-size: 0.8em;
    color: black;
    /* padding: 0.2% 2%;
    margin-top: 0.3%; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid rgb(187, 178, 178);

}

.title {
    padding: 0.1em 0em 0.4em 2%;
    background-color: rgb(240, 235, 235);
    height: 5%;
    font-size: 0.9em;
    width: 100%;
    margin: 0.08em 0em 0.1em 0em;
    font-weight: 600;
    text-align: 20%;
    color: black;
    text-align: left
}

.smallFont {
    color: #5e5b5b;
    text-align: left;
    font-size: 0.9em;
    vertical-align: middle;
    padding: 0.1em 0em 0.1em 2%;
    width: 98%;
    margin: 0.1em 0.1em 0.1em 0em;
}

.smallFont input {
    width: 17%;
    height: 1.2em;
    border: 1px solid #d3cfcf;
    height: 1em;
}

.lefttable {
    width: 18em;
    height: 33em;
    float: left;
    padding-bottom: 0.75%;
    border: 1px solid rgb(172, 170, 170);

}

.righttable {
    height: 80% !important;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
    max-width: 100% !important;
}
.fan{
    margin-left:25%;
    margin-right:25%;
    float: inherit;
    padding: 0% 0% 0% 0%;
    
}

.firstPart{
    font-size: 1em;
    text-align: center;
    color: rgb(35, 67, 148);
    font-weight: bold;
    margin-top: 20px;
}
.secondPart{
    color: rgb(56, 54, 54);
    background-color: rgb(236, 231, 231);
    font-size: 1em;
    text-align: center;
    width: 100%;
    margin-top: 10px;

}

.thirdPart{
    color: rgb(185, 29, 29);
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 10px;

}

.fourthPart input{
    width: 10px;
    margin: 20px 10px 10px 10px;
}

.fourthPart span{
    font-size: 15px;
    display: inline-block;
}

.column{
   border: 1px solid #bbb2b2;

   padding-right: 0 !important;
   padding-left: 0 !important;
}

.minvalue{
    float: left;
    font-size: 12px;
    margin-right: 5px;
    margin-left: 3px;
    margin-top: 0%;
    width: 40px;
    height: 15px;
    border: 1px solid #d3cfcf;
    text-align: center;

}
.maxvalue{
    border: 1px solid #d3cfcf;
    text-align: center;
    float: right;
    font-size: 12px;
    margin-right: 5px;
    margin-left: 3px;
    margin-top: 0%;
    width: 40px;
    height: 15px;

}

.selector {
    display: flex;
}

.slider{
    margin-top: 5px;
    width: 100%;
}

.dropdown {
    height: 50px !important;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.collapse {
    margin-right: 20px;
    margin-top:5px;
    float:right;
}



